
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-10">
    <li class="breadcrumb-item">
<a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> Lista de Productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="formModalLabel">Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="text" disabled value="0" />

                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg, image/webp" onchange=" mostrarImagen(this)" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="nombre" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" id="txtdescripcion" name="descripcion" style="height:125px;resize:none"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <label class="form-label">Marca</label>
                            <select id="cbomarca" class="form-select">
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Categoría</label>
                            <select id="cbocategoria" class="form-select">
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" id="txtprecio" name="precio" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtstock" name="stock" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Activo</label>
                            <select id="cboactive" class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tablaData;
        var rowSelected;

        function mostrarImagen(input) {
            if (input.files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_producto").attr("src",e.target.result).witdh(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

       tablaData = $("#tabla").DataTable({
           responsive: true,
           ordering: false,
           "ajax": {
              /* Aqui lo que hace ajax es traer los valores*/
               url: '@Url.Action("ListarProductos", "Mantenedor")',
               type: "GET",
               dataType: "json",
           },
           "columns": [
               { "data": "Nombre" },
               { "data": "Descripcion" },
               {
                   "data": "oMarca", "render": function (data) {
                    return data.Descripcion
                   }
               },
               {
                   "data": "oCategoria", "render": function (data) {
                     return data.Descripcion
                   }
               },
               { "data": "Precio" },
               { "data": "Stock" },
               {
                   "data": "Activo", "render": function (value) {
                       if (value) {
                           return '<span class="badge text-bg-success">Si</span>'
                       } else {
                           return '<span class="badge text-bg-danger">No</span>'
                       }
                   }
               },
               {
                   "defaultContent": ' <button type="button" class="btn btn-primary btn-sm btn-edit"> <i class="fas fa-pen"></i></button>' +
                       ' <button type="button" class="btn btn-danger btn-sm ms-2 btn-delete"> <i class="fas fa-trash"></i></button>',
                   "orderable": false,
                   "searchable": false,
                   "witdh": "90px"

               }
           ],
           "language": {
               "url": "https://cdn.datatables.net/plug-ins/2.1.3/i18n/es-ES.json"
           }
       });

       // OBTENER LA LISTA DE MARCAS PARA MOSTRAR EN EL SELECT
        jQuery.ajax({
            url: '@Url.Action("ListarMarcas", "Mantenedor")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled":"true" }).text("Seleccionar").appendTo("#cbomarca");

                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value" : item.IdMarca }).text(item.Descripcion).appendTo("#cbomarca"); // Crear un option para agreagr al select
                });
            },
            error: function (error) {
                console.log(error)
            }
        })

        // OBTENER LA LISTA DE CATEGORIAS PARA MOSTRAR EN EL SELECT
        jQuery.ajax({
            url: '@Url.Action("ListarCategorias", "Mantenedor")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cbocategoria");
                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.IdCategoria }).text(item.Descripcion).appendTo("#cbocategoria"); // Crear un option para agreagr al select
                });
            },
            error: function (error) {
                console.log(error)
            }
        })

        // 
        function abrirModal(json) {

            $("#txtid").val(0);
            $("#img_producto").removeAttr("src");
            $("#fileproducto").val("");
            $("#txtnombre").val("");
            $("#txtdescripcion").val("");
            $("#cbomarca").val($("#cbomarca option:first").val());
            $("#cbocategoria").val($("#cbocategoria option:first").val());
            $("#txtprecio").val("");
            $("#txtstock").val("");
            $("#cboactive").val(1);
            $("#mensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.IdProducto);
                $("#txtnombre").val(json.Nombre);
                $("#txtdescripcion").val(json.Descripcion);
                $("#cbomarca").val(json.oMarca.IdMarca);
                $("#cbocategoria").val(json.oCategoria.IdCategoria);
                $("#txtprecio").val(json.Precio);
                $("#txtstock").val(json.Stock); 
                $("#cboactive").val(json.Activo == true ? 1: 0);
            }

            $("#formModal").modal("show");
        }


        $("#tabla tbody").on("click", '.btn-edit', function () {
            /* Con el this, hago referencia a la misma tabla */
            rowSelected = $(this).closest("tr");

            var data = tablaData.row(rowSelected).data();
            abrirModal(data);
        })

        $("#tabla tbody").on("click", '.btn-delete', function () {
            var marcaSeleccionada = $(this).closest("tr");
            var data = tablaData.row(marcaSeleccionada).data();

            swal({
                title: "¿Esta seguro?",
                text: "¿Desea eliminar la categori?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            }, function () {
                jQuery.ajax({
                    url: '@Url.Action("EliminarMarca", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdMarca }), // Se usa el stringify para convertirlo a texto
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado){
                            tablaData.row(marcaSeleccionada).remove().draw();
                        } else {
                            swal("No se pudo eliminar", data.mensaje, error)
                        }

                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            })
        })

        function Guardar() {
            var ImagenSeleccionada = $("#fileProducto")[0].files[0]; 

            var Producto = {
                IdProducto: $("#txtid").val(),
                Nombre: $("#txtnombre").val(),
                Descripcion: $("#txtdescripcion").val(),
                oMarca: {
                    IdMarca: $("#cbomarca option:selected").val(),
                    Descripcion: $("#cbomarca option:selected").text() 
                },
                oCategoria: {
                    IdCategoria: $("#cbocategoria option:selected").val(),
                    Descripcion: $("#cbocategoria option:selected").text()
                },
                PrecioTexto: $("#txtprecio").val(),
                Precio: $("#txtprecio").val(),
                Stock: $("#txtstock").val(),
                Activo: $("#cboactive").val() == 1 ? true: false,
            }

            var request = new FormData();
            request.append("objeto", JSON.stringify(Producto))
            request.append("archivoImagen", ImagenSeleccionada)

            jQuery.ajax({
                url: '@Url.Action("GuardarProducto", "Mantenedor")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide")

                    if (Producto.IdProducto == 0) {

                        if (data.idGenerado != 0) {
                            Producto.IdProducto = data.idGenerado;

                            tablaData.row.add(Producto).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    } else {
                        if (data.idGenerado) { // Editar ya devuelve un bool por eso hacemos de esta forma
                            tablaData.row(rowSelected).data(Producto).draw(false);
                            rowSelected = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")
                    $("#mensajeError").text("Error ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando",
                        size: 14
                    });
                }
            })
        }

    </script>
}

